.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .signup form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .signup label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .signup input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }

  .login-prompt {
    margin-top: 20px;
    text-align: center;
  }
  
  .login-prompt a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-prompt a:hover {
    text-decoration: underline;
  }
  
  .toggle {
    margin-top: 1rem;
    background-color: transparent;
    /* color: #9f5ccc; */
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .toggle:hover {
    background-color: transparent;
    color: #ae82cc;
  }